/*--Start CSS Reset--*/
/*Box Sizing*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*Remove Default Stylings*/
* {
    margin: 0;
    padding: 0;
    border: 0 none;
    outline: 0;
}
/*Set Font Properties*/
* {
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
}
/*Smooth Jazz*/
* {
    scroll-behavior: smooth;
}
html {
    scroll-behavior: smooth;
}
/*--End CSS Reset--*/

/*--Start Font Styles--*/
/*Set Font-Families and Base Font Size*/
html {
    font-family: 'Quattrocento', serif;
    font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Oswald', sans-serif;
}
/*Set Font Sizes*/
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.3rem;
}
h5 {
    font-size: 1rem;
}
h6 {
    font-size: 0.8rem;
}
p {
    font-size: 1rem;
}
a {
    font-size: 1rem;
}
/*--End Font Styles--*/

/*--Start Nav Section Styles (Desktop)--*/
#navbar {
    width: 100%;
    height: 4rem;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    box-shadow: 0 1px 1px black;
}
#nav-logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-logo:hover {
    text-shadow: 0px 4px 4px gray;
}
#nav-logo:active {
    text-shadow: 0px 0px 4px gray;
    transform:translateY(4px);
}
#nav-logo img {
    height: 2rem;
    width: 2rem;
}
#nav-logo span {
    color: gray;
    font-size: 1.5rem;
}
#nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-link {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1.25rem 1rem;
}
.nav-link:hover {
    background-color: gray;
}
.nav-link:active {
    color: white;
    background-color: black;
}
/*Hide Mobile Navbar*/
#mobile-nav-list {
    display: none;
}
/*--End Nav Section Styles (Desktop)--*/

/*--Start Nav Section Styles (Mobile)--*/
@media only screen and (max-width: 768px) {
    /*Hide Desktop Navbar*/
    #nav-logo {
        display: none;
    }
    #nav-list {
        display: none;
    }
    /*Show Mobile Navbar*/
    #mobile-nav-list {
        display: contents;
    }
    /*Mobile Navbar Styles*/
    #mobile-nav-list {
        list-style: none;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .mobile-nav-link {
        display: block;
        width: 4rem;
        height: 4rem;
    }
    .mobile-nav-link:hover {
        background-color: gray;
    }
    .mobile-nav-link:active {
        background-color: black;
    }
    .mobile-nav-link img {
        height: 4rem;
        width: 4rem;
        padding: 0 1rem;
    }
    .mobile-nav-link img:active {
        filter: invert(1.0);
    }
}
/*--End Nav Section Styles (Mobile)--*/

/*--Start Body and Main Styles--*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    max-width: 1600px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}
/*--End Body and Main Styles--*/

/*--Start Welcome Section Styles (Desktop)--*/
#welcome {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
#welcome-banner-image {
    display: block;
    max-width: 60%;
    padding: 2rem 1.5rem;
}
#welcome-text-container {
    max-width: 40%;
    padding-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#welcome-text-container p {
    font-size: 1.5rem;
    margin: 1rem 0;
}
#welcome-button {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem 0;
    color: white;
    background-color: darkslategray;
}
#welcome-button:hover {
    background-color: gray;
}
#welcome-button:active {
    color: black;
    background-color: white;
}
/*--End Welcome Section Styles (Desktop)--*/

/*--Start Welcome Section Styles (Mobile)--*/
@media only screen and (max-width: 768px) {
    #welcome {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #welcome-banner-image {
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
    #welcome-text-container {
        max-width: 100%;
        padding: 2rem 1rem;
        margin: 0;
        text-align: center;
    }
    #welcome-text-container h1 {
        padding-bottom: 2rem;
    }
    #welcome-text-container p {
        padding-bottom: 1.5rem;
    }
}
/*--End Welcome Section Styles (Mobile)--*/

/*--Start Information Section Styles (Desktop)--*/
#information {
    display: flex;
    justify-content: center;
}
#information-content-container {
    display: flex;
    justify-content: center;
    max-width: 1536px;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}
#information-main {
    border-right: solid lightgray;
    width: 60%;
}
#information-main img {
    display: block;
    width: 100%;
    padding: 2rem 1.5rem;
}
#information-main-textbox {
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    padding-right: 1.5rem;
}
#information-main-quote {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
#information-sidebar {
    max-width: 40%;
    margin-top: 1rem;
}
.information-sidebar-card {
    display: flex;
    padding: 1rem;
}
.information-sidebar-card:hover {
    background-color: lightgray;
}
#information-sidebar-card-middle {
    border-top: solid lightgray;
    border-bottom: solid lightgray;
}
.information-sidebar-card img {
    width: 35%;
    height: auto;
    margin-right: 1rem;
}
.information-sidebar-card-text-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.information-sidebar-card-text-container p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.information-sidebar-card-text-container a {
    text-decoration: none;
    color: dodgerblue;
}
.information-sidebar-card-text-container a:hover {
    color: red;
    text-decoration: underline;
}
.information-sidebar-card-text-container a:active {
    color: purple;
}
/*Hide Mobile Section*/
#mobile-information-section {
    display: none;
}
/*--End Information Section Styles (Desktop)--*/

/*--Start Information Section Styles (Mobile)--*/
@media only screen and (max-width: 768px) {
    /*Hide Desktop Information Section and Show Mobile Section*/
    #information-main {
        display: none;
    }
    #information-sidebar {
        display: none;
    }
    #mobile-information-section {
        display: contents;
        display: block;
        width: 100%;
        padding: 1rem;
    }
    .mobile-information-card {
        padding-bottom: 2rem;
    }
    .mobile-information-card:hover {
        background-color: lightgray;
    }
    .mobile-information-card img {
        display: block;
        width: 100%;
    }
    .mobile-information-card-textbox {
        padding-left: 1rem;
        padding-top: 0.5rem;
    }
    .mobile-information-card-textbox p {
        margin: 0.5rem 0;
    }
    .mobile-information-card-textbox a {
        text-decoration: none;
        color:dodgerblue;
    }
    .mobile-information-card-textbox a:hover {
        text-decoration: underline;
        color: red;
    }
    .mobile-information-card-textbox a:active {
        color: purple;
    }
}
/*--End Information Section Styles (Mobile)--*/

/*--Start Course Section Styles (Desktop)--*/
#course {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#course-heading {
    padding-top: 2rem;
}
#course-grid-container {
    padding: 2rem 4.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}
.course-card {
background-color: white;
}
.course-card img {
    width: 100%;
    height: auto;
}
.course-card-textbox {
    padding: 1rem;
    padding-bottom: 1.5rem;
}
.course-card-textbox p {
    margin-top: 0.5rem;
}
.course-card:hover {
    background-color: gray;
}
.course-card:active {
    background-color: black;
    color: white;
}
#mobile-course {
    display: none;
}
/*--End Course Section Styles (Desktop)--*/

/*--Start Course Section Styles (Mobile)--*/
@media only screen and (max-width: 768px) {
    #course {
        display: none;
    }
    #mobile-course {
        display: contents;
        display: block;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        padding-bottom: 2rem;
    }
    #mobile-course-heading {
        text-align: center;
        padding: 2rem 0 0.5rem 0;
    }
    #mobile-course h3 {
        background-color: lightgray;
        margin: 0.5rem 1rem 0 1rem;
        padding: 1rem;
    }
    #mobile-course h3:hover {
        background-color: gray;
    }
    #mobile-course h3:active {
        background-color: black;
        color: white;
    }
}
/*--End Course Section Styles (Mobile)--*/

/*--Start Thesis Section Styles (Desktop)--*/
#thesis-heading {
    text-align: center;
    padding: 2rem 0;
}
#thesis-content-container {
    display: flex;
}
#thesis-content-main {
    max-width: 60%;
    padding: 0 1.5rem 2rem 1.5rem;
}
#thesis-content-main video {
    width: 100%;
}
#thesis-content-main-textbox h2 {
    padding: 1.5rem 0 0.5rem 0;
}
#thesis-sidebar {
    max-width: 40%;
}
.thesis-sidebar-card {
    display: flex;
}
.thesis-sidebar-card img {
    display: block;
    width: 35%;
    height: auto;
    padding: 1rem;
}
.thesis-sidebar-card-textbox {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#thesis-sidebar-card-1 {
    background-color: lightgray;
}
#thesis-sidebar-card-1:hover {
    background-color: gray;
}
#thesis-sidebar-card-1:active {
    background-color: black;
    color: white;
}
#thesis-sidebar-card-2:hover {
    background-color: gray;
}
#thesis-sidebar-card-2:active {
    background-color: black;
    color: white;
}
#mobile-thesis-section {
    display: none;
}
/*--End Thesis Section Styles (Desktop)--*/

/*--Start Thesis Section Styles (Mobile)--*/
@media only screen and (max-width: 768px) {
    #thesis {
        display: none;
    }
    #mobile-thesis-section {
        display: contents;
    }
    #mobile-thesis-heading {
        text-align: center;
        padding: 2rem 0 1rem 0;
    }
    #mobile-thesis-section video {
        width: 100%;
        padding-bottom: 1.5rem;
    }
}
/*--End Thesis Section Styles (Mobile)--*/

/*--Start Footer Section Styles (Desktop)--*/
footer {
    width: 100%;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem 1rem 1.5rem;
}
footer ul {
    list-style: none;
    display: flex;
}
footer a {
    margin-left: 1rem;
    text-decoration: none;
    color: black;
}
footer a:hover {
    color: gray;
}
/*--End Footer Section Styles (Desktop)--*/

/*--Start Footer Section Styles (Mobile)--*/
@media only screen and (max-width: 768px) {
    footer ul {
        display: none;
    }
    footer {
        justify-content: center;
    }
    footer p {
        text-align: center;
    }
}
/*--End Footer Section Styles (Mobile)--*/